<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <!-- esri services-->
        <serverUrl url="http://www.arcgis.com/"
                   matchAll="true"/>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="http://static.arcgis.com"
				   matchAll="true"></serverUrl>
        <!-- imap services-->
        <serverUrl url="http://geodata.md.gov/imap"
                   matchAll="true"></serverUrl>
        <serverUrl url="http://geodata.md.gov/appdata"
				   matchAll="true"></serverUrl>

    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->