<div  style="width: 300px; height: 300px">
    <div data-dojo-type="dijit/layout/AccordionContainer" style="height: 300px;">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Heeh, this is a content pane'">
            Hi!
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'This is as well', selected: true">
            Hi how are you?
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'This too'">
            Hi how are you? .....Great, thx
        </div>
    </div>
</div>