.tocLegendPane {
    padding: 0px;
}

.selectedTocNode {
    background-color: #2c7fff;
}

.tipDialog {
    width: 220px;
}

.tipDialogCont {
    margin: 0px;
    padding: 0px;
    max-height: 80px;
    overflow: auto;
}

.toolTipAddBtn {
    background-image: url(../css/add.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 2px;
}

.toolTipCloseBtn {
    background-image: url(../css/close.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 2px;
}

.navlist {
    position: absolute;
    margin: 0px;
    top: 5px;
    right: 70px;
}
.navlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
.navlist li, .navlist a{height:30px;display:block;}

#liLyrUp{left:5px;width:30px;}
.liLyrUp{background:url('btnbar_img.gif') 0 0;cursor:pointer;}
#liLyrUp a:hover{background: url('btnbar_img.gif') 0 -31px;}
.liLyrUpDis{background:url('btnbar_img.gif') 0 -62px;cursor:wait;}

#liLyrDwn{left:40px;width:30px;}
.liLyrDwn{background:url('btnbar_img.gif') -31px 0;cursor:pointer;}
#liLyrDwn a:hover{background: url('btnbar_img.gif') -31px -31px;}
.liLyrDwnDis{background:url('btnbar_img.gif') -31px -62px;cursor:wait;}

#liLyrRem{left:75px;width:30px;cursor:pointer;}
.liLyrRem{background:url('btnbar_img.gif') -62px 0;cursor:pointer;}
#liLyrRem a:hover{background: url('btnbar_img.gif') -62px -31px;}
.liLyrRemDis{background:url('btnbar_img.gif') -62px -62px;cursor:wait;}