.agsjsTOCNode {
    padding-top: 1px;
    padding-bottom: 1px;
}

.agsjsTOCContent {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}

.agsjsTOCOutOfScale {
    color: grey;
    opacity: 0.5;
}

.agsjsTOCRootLayer {
}

.agsjsTOCRootLayerLabel {
    font-size: .9em;
    font-weight: bold;
}

.agsjsTOCGroupLayer {
    font-weight: bold;
}

.agsjsTOCGroupLayerLabel {
    font-size: 11pt;
}

.agsjsTOCGroupLayer {
    font-weight: bold;
}

.agsjsTOCLayerLabel {
    font-size: .8em;
    padding-left: 2px;
    white-space: initial;
    display: inline-block;
    width: 220px;    
}

.agsjsTOCLegendIcon {
    /* width: 50px;*/
}

.agsjsTOCLegendLabel {
    font-size: .8em;
    padding-left: 2px;
}

.agsjsTOCSlider {
    padding: 5px 20px 5px 30px;
}
.imapDataLink
{
    padding-right: 35px;
    background-image: url("../../css/info.png");
    background-size: 32px 18px;
    background-repeat: no-repeat;
    width: 40px;
    margin-top: 5px;
}
.agsjsTOCRootLayerLabel.agsjsTOCLayerLabel
{
    font-size: .9em;
}