<div id="DrawingTools" data-dojo-type="dojox.widget.TitleGroup">
	<!-- <div data-dojo-type="dijit.TitlePane" open="false" id="Draw_Points" title="Draw Points"  style="background-color:yellow;"> -->
	<div id="drawingBtns">
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_multipoint" title='Point'></button>
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_polyline" title='Line'></button>
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_freehand_polyline" title='Freehand Line'></button>
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_polygon" title='Polygon'></button>
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_freehand_polygon" title='Freehand Polygon'></button><br />
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_arrow" title='Arrow'></button>
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_triangle" title='Triangle'></button>
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_circle" title='Circle'></button>
		<button data-dojo-type="dijit.form.ToggleButton" id="draw_ellipse" title='Ellipse'></button>
    </div><br />
    <div id="clrPicker"></div>
    
	<!-- 
	Edit (both in development):
	<span  style="padding-left:10px;">
	<button data-dojo-type="dijit.form.Button" id="edit" data-dojo-props="onClick:function(){createEdit();map.hideZoomSlider();}">Edit</button>
		<button data-dojo-type="dijit.form.Button" id="add_text"data-dojo-props="onClick:function(){openTextForm();toolbar.activate(esri.toolbars.Draw.POINT);map.hideZoomSlider();}">Add Text</button><br /> 
	</span> 
	-->
	<div style="margin-left:auto; margin-right:auto; width:120px; style="padding-bottom:10px;"><br />
		<div id="clear_all" class="generalButtonStyle">Clear All</div>
	</div>	
</div>
