
/*The image specified for the body is used to apply the gradient background to the entire page*/
body {
  background:url(../../assets/black/body_bg.png) repeat-x #97a7b8;
}
#leftPane {
  background-color:#e9eef2;
}
/*override claro background and other props*/
#toolbarContainer .dijitToolbar {
  background:url(../../assets/black/toolbar_bg.png) repeat-x #6788a2;
}
/*Measure toggle button*/
.claro .dijitToolbar .dijitButtonNode:hover {
  background:url(../../assets/black/sidebar_header_active_bg.png) repeat-x #cee1ec;
}
.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
   background:url(../../assets/black/sidebar_header_active_bg.png) repeat-x #cee1ec;
}
.dojoxFloatingPaneTitle{
  background:url(../../assets/black/toolbar_bg.png) repeat-x #6788a2;
}

/* Background color for regular buttons*/
#tools .dijitIcon
{
    box-shadow: 3px 3px 2px darkgray, #282828 -2px -2px 3px inset;
    background-color: #363636;
    border: 1px solid #181818;
    border-radius: 5px 5px 5px 5px;
}
/* Background color for dropdown left side button*/
#tools .dijitComboButton .dijitIcon, #tools .dijitDownArrowButton .dijitIcon{
    box-shadow: 0px 3px 2px darkgray, #282828 0px -2px 3px inset;
    background-color: #363636;
    border: 1px solid #181818;
    border-radius: 5px 0px 0px 5px;
}
/* Background color for dropdown right side button*/
#tools .dijitArrowButtonInner
{
    height: 48px;
    background-color: #363636;
    border: 1px solid #181818;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray,  #282828 -2px 0px 3px inset;
}

/* Buttons on hover*/
#tools .dijitToggleButtonHover .dijitIcon
{
    box-shadow: #282828 2px 2px 3px inset;     
} 
/* Buttons on checked*/
#tools .dijitToggleButtonChecked .dijitIcon
{
    background-color: #878787;
    box-shadow: #282828 2px 2px 3px inset; 
} 
.PaneToggleImage{
    background-image: none;
    background-color: #363636;
    border: 1px solid #181818;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray;
}

/* Buttons on hover*/
#tools .dijitToggleButtonHover .dijitIcon
{
    box-shadow: #6C6C6C 2px 2px 3px inset;     
} 
/* Buttons on checked*/
#tools .dijitToggleButtonChecked .dijitIcon
{
    background-color: #878787;
    box-shadow: #6C6C6C 2px 2px 3px inset; 
} 
.PaneToggleImage{
    background-image: none;
    background-color: #B4B4B4;
    border: 1px solid #515151;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray;
}


/* Change color of tab menu*/
.claro .dijitTab{
    background-color: #1E2227;
    background-image: none !important;
    color: #ffffff;
}
.claro .dijitTablisContainer{
    background-color: #131313;
}

.claro .dijitTabListContainer-top .dijitTabStripButtonDisabled{
    background-color: #131313;
}

.claro .dijitTabListContainer-bottom .dijitTabStripButtonDisabled{
    background-color: #131313;
}

.claro .dijitTabListContainer-top .dijitContentPane{
    background-color: #131313;
}

.claro .dijitTabController{
    background-color: #3C3A3A;
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    background-color: #131313;
    background-image: none !important;
}
.claro .dijitTabListContainer-top .tabStripButton{
    background-image: none !important;
}
.claro .dijitTabStripMenuIcon {
    background-position: -150px 50%;
}
.claro .dijitTabStripSlideRightIcon{
    background-position: -124px 50%;
}
.claro .dijitTabContainerTop-dijitContentPane, .claro .dijitTabContainerLeft-dijitContentPane, .claro .dijitTabContainerBottom-dijitContentPane, .claro .dijitTabContainerRight-dijitContentPane, .claro .dijitAccordionContainer-dijitContentPane{
    background-color: #131313;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled, .claro .dijitTabListContainer-bottom .tabStripButtonDisabled{
    background-color: #1E2227;
}

.esriPopup .titlePane{
  background-color:#446485;
  border-style:none;
}

.esriPopup .titleButton,
.esriPopup .pointer,
.esriPopup .outerPointer,
.esriPopup .esriViewPopup .gallery .mediaHandle,
.esriPopup .esriViewPopup .gallery .mediaIcon{
  background: url(../../assets/black/popup.png) no-repeat scroll 0 0 transparent;
}

/*Attribute Inspector button styling (delete buttons)*/
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset{
  background:url(../../assets/black/toolbar_bg.png) repeat #6788a2;
  color:#fff;
  border: none;
}
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset:hover{
  background:url(../../assets/black/sidebar_header_active_bg.png) repeat-x #cee1ec;
  color:#000;
}

/*slider background*/
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton ,.esriSimpleSliderVertical .esriSimpleSliderDecrementButton  {
  background:url(../../assets/black/toolbar_bg.png) repeat-x #6788a2;
  border:solid 1px #6788a2;
}

 /*Identity Manager Dialog*/
.claro .dijitDialogTitleBar {
  background:url(../../assets/black/toolbar_bg.png) repeat-x #545454;
  color:#fff;
  border: solid 1px #6788a2;
}
.claro .dijitDialog {
    border: 1px solid #808080;
}

.claro .dijitDialogPaneActionBar .dijitButtonNode{
  background-image:none;
  border: solid 1px #6788a2;
  background:url(../../assets/black/sidebar_header_active_bg.png) repeat-x #CEE1EC;
}
.esriBookmarkItem:hover{
  background-color:#CEE1EC;
}