/*The image specified for the body is used to apply the gradient background to the entire page*/
body {
  background: #7B7A7A;
}
#leftPane {
  background-color:#e9eef2;  
}

#leftPane_splitter:hover {
    background-color: #e9eef2;
}

/* for buttons on title bar in Content Tab */
.claro .liLyrUpDis, .claro .liLyrDwnDis, .claro .liLyrRemDis {
    background-color: #C0C0C0;
    box-shadow: 3px 3px 2px darkgray, #282828 -2px -2px 3px inset;
}

/*override claro background and other props*/
/*Measure toggle button*/
.claro .dijitToolbar .dijitButtonNode:hover {
  background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
}

.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
   background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
}

.dojoxFloatingPaneTitle{
  background: #7B7A7A;
  margin: -1px;
  height: 26px;
}

/* Background color for regular buttons*/
#tools .dijitToggleButton .dijitButtonNode, #tools .dijitComboButton .dijitButtonNode, #tools .dijitDropDownButton .dijitButtonNode  
{


    background: none !important;
    border: none;
    box-shadow: none;
    
}

.PaneToggleImage, .BottomPaneToggle{
    background-image: none;
    background-color: #7B7A7A;
    border: 1px solid #181818;

}
.PaneToggleImage
{
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray;   
}
.BottomPaneToggle
{
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 3px 3px 1px darkgray;
}
/*adding hover styling to location, link, arrow, measure*/
.dijitToggleButtonChecked .toolButton
{
    background-color: #5075AB;  
    border: 1px solid #062656;
    border-radius: 5px;
}
.generalButtonStyle
{
    background-color: #5075AB;
    border: 1px solid #062656;
    color: #fff;
}
.generalButtonStyle:hover
{
    background-color: #325C9B;
}
#attributeHeader
{
    background-color: #636262;
}

/* Change color of tab menu*/
.claro .dijitTab{
    background: #C0C0C0;
    border: solid 1px #282828;
    color: white;
}
.claro .dijitTabListContainer{
    /*background-color: #737171;*/
    background: #C0C0C0;
    border: solid 1px #282828;

}
.claro .dijitTabListContainer-top
{
    background-color: #7B7A7A;
}

.claro .dijitTabContainerTop-tabs .dijitTab {
    background: #7B7A7A;
    border: none;
}

.claro .dijitTabListContainer-top .dijitTabStripButtonDisabled{
    background-color: #737171;
}

.claro .dijitTabListContainer-bottom .dijitTabStripButtonDisabled{
    background-color: #737171;

}

.claro .dijitTabListContainer-top .dijitContentPane{
    background-color: #737171;
}

.claro .dijitAccordionInnerContainerSelected .dijitAccordionTitle
{
    background: none;
}

/* behind the tabs */

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    border: solid 1px #ececec;
    font-weight: bold;
    background: #ececec;
    border-radius: 5px 5px 0px 0px;
    color: #282828;
}
.claro .dijitTabListContainer-top .tabStripButton{
    background-image: none !important;
}
.claro .dijitTabStripMenuIcon {
    background-position: -150px 50%;
}
.claro .dijitTabStripSlideRightIcon{
    background-position: -124px 50%;
}
.claro .dijitTabContainerTop-dijitContentPane, .claro .dijitTabContainerLeft-dijitContentPane, .claro .dijitTabContainerBottom-dijitContentPane, .claro .dijitTabContainerRight-dijitContentPane, .claro .dijitAccordionContainer-dijitContentPane{
    background-color: #ececec;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled, .claro .dijitTabListContainer-bottom .tabStripButtonDisabled{
    background-color: #737171;
}

.claro .dijitAccordionTitle {
  background: #C0C0C0;
}  
.claro .dijitAccordionText {
   color: #000000;
   font-weight: bold;
}
.claro .dijitTreeRow:hover {
    background: #C0C0C0;
    color: #FFFFFF;
}


.esriPopup .titlePane{
  background-color: #7B7A7A;
  border-style:none;
}

.esriPopup .titleButton,
.esriPopup .pointer,
.esriPopup .outerPointer,
.esriPopup .esriViewPopup .gallery .mediaHandle,
.esriPopup .esriViewPopup .gallery .mediaIcon{
 /* background: url(../../assets/imap/toolbar_bg.png) no-repeat scroll 0 0 transparent; */
}


/*Attribute Inspector button styling (delete buttons)*/
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset{
  background: #282828;
  color:#fff;
  border: none;
}
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset:hover{
  background: #808080;
  color:#000;
}

/*slider background*/
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton  {
  background: rgba(40, 40, 40, 0.6);
  border:solid 1px #282828;
  
} 

/* overrides the ESRI home button style.  It is similar to "#tools .dijitIcon" style here   */
.LocateButton .zoomLocateButton, .HomeButton .home
{
    border: 1px solid #181818;
    padding: 0px;
}

 /*Identity Manager Dialog*/
.claro .dijitDialogTitleBar {
  background: #545454;
  color:#fff;
  border: solid 1px #282828;  
}
.claro .dijitDialog {
    border: 1px solid #808080;
}

.claro .dijitDialogPaneActionBar .dijitButtonNode{
  background-image:none;
  border: solid 1px #282828;
  background: #808080;
}
.esriBookmarkItem:hover{
  background-color:#808080;
}


#footer a{
    color:#C0C0C0;
}

/*Use a white arrow for the dropdown*/
.claro .dijitArrowButtonInner {
    background-image: url("../../assets/toolbar/ArrowButton.png");
    height:48px;
    border: 1px solid #181818;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}

#tools .dijitArrowButtonInner
{
    display: none;
}

.claro .dijitDisabled .dijitArrowButtonInner {
    background-image: url("../../assets/toolbar/ArrowButton.png");
    background-image:none;
    height:48px;
    background-color: #7B7A7A;
    border: 1px solid #181818;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray,  #FFFFFF -2px 0px 3px inset;

}

#btnBpaneToggle
{
      background-color: #7B7A7A;
}