html {
  height: 100% !important;
  width: 100% !important;
  margin:0 !important;
  padding: 0 !important;
}
body{
  margin:0px;
  padding:0px;
}
.notembed{
  height: 98% !important;
  width: 98% !important;
}
.notembed body{
  margin-left:2%;
  margin-right:2%;
}
#bookmarkView{
  width: 210px; 
}

#toolbarContainer .dijitToolbar {
background: transparent;
}

#webmap-toolbar-center {
    text-align:center;
}

.esriPrint{
  float:left;
}
.esriPrintIcon{
    background-image:url(../../assets/toolbar/Print.PNG);
    background-repeat:no-repeat;
    display:inline-block;
    height:48px;
    width:48px;
    margin:4px 0 4px 4px;
}
.esriPrint .dijitButtonText {
  padding-top:3px;
}
.esriPrintout {
   margin-top:4px;
   float:left;
}
