/*The image specified for the body is used to apply the gradient background to the entire page*/
body {
  background:url(../../assets/imap/body_bg.png) repeat-x #C0C0C0;
}
#leftPane {
  background-color:#e9eef2;
}
/*override claro background and other props*/
/*#toolbarContainer .dijitToolbar {
  background:url(../../assets/imap/toolbar_bg.png) repeat-x #282828;
}*/
/*Measure toggle button*/
.claro .dijitToolbar .dijitButtonNode:hover {
  background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
}
.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
   background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
}
.dojoxFloatingPaneTitle{
  background:url(../../assets/imap/toolbar_bg.png) repeat-x;
}

/* Change color of tab menu*/
.claro .dijitTab{
/*    background-color: #737171;
    background-image: none !important;
    color: #ffffff;*/
    background: url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    border: solid 1px #282828;
    color: white;
}
.claro .dijitTabListContainer{
    /*background-color: #737171;*/
    background: url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    border: solid 1px #282828;

}

.claro .dijitTabContainerTop-tabs .dijitTab {
    background: url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    border: solid 1px #282828;
}

.claro .dijitTabListContainer-top .dijitTabStripButtonDisabled{
    background-color: #737171;
}

.claro .dijitTabListContainer-bottom .dijitTabStripButtonDisabled{
    background-color: #737171;

}

.claro .dijitTabListContainer-top .dijitContentPane{
    background-color: #737171;
}

.claro .dijitTabController{
    background-color: #3C3A3A;
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    /*background-color: #737171;*/
    background: url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    border: solid 1px #282828;

}
.claro .dijitTabListContainer-top .tabStripButton{
    background-image: none !important;
}
.claro .dijitTabStripMenuIcon {
    background-position: -150px 50%;
}
.claro .dijitTabStripSlideRightIcon{
    background-position: -124px 50%;
}
.claro .dijitTabContainerTop-dijitContentPane, .claro .dijitTabContainerLeft-dijitContentPane, .claro .dijitTabContainerBottom-dijitContentPane, .claro .dijitTabContainerRight-dijitContentPane, .claro .dijitAccordionContainer-dijitContentPane{
    background-color: #ececec;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled, .claro .dijitTabListContainer-bottom .tabStripButtonDisabled{
    background-color: #737171;
}


.esriPopup .titlePane{
  background-color:#808080;
  border-style:none;
}

.esriPopup .titleButton,
.esriPopup .pointer,
.esriPopup .outerPointer,
.esriPopup .esriViewPopup .gallery .mediaHandle,
.esriPopup .esriViewPopup .gallery .mediaIcon{
  background: url(../../assets/imap/popup.png) no-repeat scroll 0 0 transparent;
}

/*Attribute Inspector button styling (delete buttons)*/
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset{
  background:url(../../assets/imap/toolbar_bg.png) repeat #282828;
  color:#fff;
  border: none;
}
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset:hover{
  background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
  color:#000;
}

/*slider background*/
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton ,.esriSimpleSliderVertical .esriSimpleSliderDecrementButton  {
  background:url(../../assets/imap/toolbar_bg.png) repeat-x #282828;
  border:solid 1px #282828;
}

 /*Identity Manager Dialog*/
.claro .dijitDialogTitleBar {
  background:url(../../assets/imap/toolbar_bg.png) repeat-x #545454;
  color:#fff;
  border: solid 1px #282828;
}
.claro .dijitDialog {
    border: 1px solid #808080;
}

.claro .dijitDialogPaneActionBar .dijitButtonNode{
  background-image:none;
  border: solid 1px #282828;
  background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
}
.esriBookmarkItem:hover{
  background-color:#808080;
}
#footer a{
    color:#C0C0C0;
}