/*The image specified for the body is used to apply the gradient background to the entire page*/
body {
  background:url(../../assets/imap/body_bg.png) repeat-x #C0C0C0;
}
#leftPane {
  background-color:#e9eef2;  
}

#leftPane_splitter:hover {
    background-color: red;
}

/* for buttons on title bar in Content Tab */
.claro .liLyrUpDis, .claro .liLyrDwnDis, .claro .liLyrRemDis {
    background-color: #C0C0C0;
    box-shadow: 3px 3px 2px darkgray, #282828 -2px -2px 3px inset;
}

/*override claro background and other props*/
/*Measure toggle button*/
.claro .dijitToolbar .dijitButtonNode:hover {
  background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
}

.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
   background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
}

.dojoxFloatingPaneTitle{
  background:url(../../assets/imap/toolbar_bg.png) repeat-x;
}

/* Background color for regular buttons*/
#tools .dijitIcon
{
    box-shadow: 3px 3px 2px darkgray, #282828 -2px -2px 3px inset;
    background-color: #363636;
    border: 1px solid #181818;
    border-radius: 5px 5px 5px 5px;
}
/* Background color for dropdown left side button*/
#tools .dijitComboButton .dijitIcon, #tools .dijitDownArrowButton .dijitIcon{
    box-shadow: 0px 3px 2px darkgray, #282828 0px -2px 3px inset;
    background-color: #363636;
    border: 1px solid #181818;
    border-radius: 5px 0px 0px 5px;
}
/* Background color for dropdown right side button*/
#tools .dijitArrowButtonInner
{
    height: 48px;
    background-color: #363636;
    border: 1px solid #181818;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray,  #282828 -2px 0px 3px inset;
}

/* Buttons on hover*/
#tools .dijitToggleButtonHover .dijitIcon 
{
    box-shadow: #282828 2px 2px 3px inset;     
} 
/* Buttons on checked*/
#tools .dijitToggleButtonChecked .dijitIcon
{
    background-color: #878787;
    box-shadow: #282828 2px 2px 3px inset; 
} 
.PaneToggleImage{
    background-image: none;
    background-color: #363636;
    border: 1px solid #181818;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray;
}
/*adding hover styling to location, link, arrow, measure*/
.dijitToggleButtonChecked .esriLocationIcon, .dijitToggleButtonChecked .esriMeasureIcon
{
    background-color: #A1C47F;  
}

/* Change color of tab menu*/
.claro .dijitTab{
    background: url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    border: solid 1px #282828;
    color: white;
}
.claro .dijitTabListContainer{
    /*background-color: #737171;*/
    background: url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    border: solid 1px #282828;

}

.claro .dijitTabContainerTop-tabs .dijitTab {
    background: url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    border: solid 1px #282828;
}

.claro .dijitTabListContainer-top .dijitTabStripButtonDisabled{
    background-color: #737171;
}

.claro .dijitTabListContainer-bottom .dijitTabStripButtonDisabled{
    background-color: #737171;

}

.claro .dijitTabListContainer-top .dijitContentPane{
    background-color: #737171;
}

/* behind the tabs */
.claro .dijitTabController{
    background-color: #3C3A3A;
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    background: url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    border: solid 1px #282828;
    font-weight:bold;
}
.claro .dijitTabListContainer-top .tabStripButton{
    background-image: none !important;
}
.claro .dijitTabStripMenuIcon {
    background-position: -150px 50%;
}
.claro .dijitTabStripSlideRightIcon{
    background-position: -124px 50%;
}
.claro .dijitTabContainerTop-dijitContentPane, .claro .dijitTabContainerLeft-dijitContentPane, .claro .dijitTabContainerBottom-dijitContentPane, .claro .dijitTabContainerRight-dijitContentPane, .claro .dijitAccordionContainer-dijitContentPane{
    background-color: #ececec;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled, .claro .dijitTabListContainer-bottom .tabStripButtonDisabled{
    background-color: #737171;
}

.claro .dijitAccordionTitle {
  background:url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
}  
.claro .dijitAccordionText {
   color: #000000;
   font-weight: bold;
}
.claro .dijitTreeRow:hover {
    background:url(../../assets/imap/toolbar_bg.png) repeat-x #C0C0C0;
    color: #FFFFFF;
}


.esriPopup .titlePane{
  background-color: #363636;
  border-style:none;
}

.esriPopup .titleButton,
.esriPopup .pointer,
.esriPopup .outerPointer,
.esriPopup .esriViewPopup .gallery .mediaHandle,
.esriPopup .esriViewPopup .gallery .mediaIcon{
 /* background: url(../../assets/imap/toolbar_bg.png) no-repeat scroll 0 0 transparent; */
}


/*Attribute Inspector button styling (delete buttons)*/
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset{
  background:url(../../assets/imap/toolbar_bg.png) repeat #282828;
  color:#fff;
  border: none;
}
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset:hover{
  background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
  color:#000;
}

/*slider background*/
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton  {
  background:url(../../assets/imap/toolbar_bg.png) repeat-x #282828;
  border:solid 1px #282828;
  
} 

/* overrides the ESRI home button style.  It is similar to "#tools .dijitIcon" style here   */
.HomeButton .home 
{
    background-color: #808080;
    border: 1px solid #181818;
    /* border-radius: 5px 5px 5px 5px; */
    
}

.HomeButton .home:hover  
{
	background-color: #C0C0C0;
    border: 1px solid #181818;
    border-radius: 5px 5px 5px 5px;
}

 /*Identity Manager Dialog*/
.claro .dijitDialogTitleBar {
  background:url(../../assets/imap/toolbar_bg.png) repeat-x #545454;
  color:#fff;
  border: solid 1px #282828;  
}
.claro .dijitDialog {
    border: 1px solid #808080;
}

.claro .dijitDialogPaneActionBar .dijitButtonNode{
  background-image:none;
  border: solid 1px #282828;
  background:url(../../assets/imap/sidebar_header_active_bg.png) repeat-x #808080;
}
.esriBookmarkItem:hover{
  background-color:#808080;
}


#footer a{
    color:#C0C0C0;
}

/*Use a white arrow for the dropdown*/
.claro .dijitArrowButtonInner {
    background-image: url("../../assets/toolbar/ArrowButton.png");
    height:48px;
    background-color: #363636;
    border: 1px solid #181818;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray,  #FFFFFF -2px 0px 3px inset;
 
}
.claro .dijitDisabled .dijitArrowButtonInner {
    background-image: url("../../assets/toolbar/ArrowButton.png");
    background-image:none;
    height:48px;
    background-color: #363636;
    border: 1px solid #181818;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray,  #FFFFFF -2px 0px 3px inset;

}

.dijitButtonHover .esriLinkIcon, .dijitToggleButtonChecked .esriLocationIcon, .dijitToggleButtonHover .esriLocationIcon, .dijitHover .dijitArrowButtonInner, .esriPrint .dijitHover .dijitIcon, .dijitToggleButtonChecked .esriMeasureIcon, .dijitToggleButtonHover .esriMeasureIcon , .dijitHover .esriBasemapIcon
{
    box-shadow: #FFFFFF 2px 2px 3px inset;  
}

/*updating the measurement widget */
.esriMeasurement .dijitArrowButtonInner 
{
    height: 20px;   
}
.esriMeasurement .esriToggleButton .dijitButtonText
{
    display:inline-block !important;
    font-size: 14px !important; 
    color: #fff;
    background-color: #363636;
    border: 1px solid #181818;
    border-left: none;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 3px 3px 1px darkgray, #FFFFFF -2px 0px 3px inset;
}