
/*The image specified for the body is used to apply the gradient background to the entire page*/
body {
  background:url(../../assets/orange/body_bg.png) repeat-x #ffcd76;
}
#leftPane {
  background-color:#fff9de;
}
/*override claro background and other props*/
/*Measure toggle button*/
.claro .dijitToolbar .dijitButtonNode:hover {
  background:url(../../assets/orange/sidebar_header_active_bg.png) repeat-x #CEE1EC;
}
.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
   background:url(../../assets/orange/sidebar_header_active_bg.png) repeat-x #CEE1EC;
}
/*Attribute Inspector button styling (delete buttons)*/
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset{
  background:url(../../assets/orange/toolbar_bg.png) repeat #545454;
  color:#fff;
  border: none;
}
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset:hover{
  background:url(../../assets/orange/sidebar_header_active_bg.png) repeat-x #CEE1EC;
  color:#000;
}

/* Change color of tab menu*/
.claro .dijitTab{
    background-color: #FFCD76;
    background-image: none !important;
    color: #ffffff;
}
.claro .dijitTablisContainer{
    background-color: #FFCD76;
}

.claro .dijitTabListContainer-top .dijitTabStripButtonDisabled{
    background-color: #FFCD76;
}

.claro .dijitTabListContainer-bottom .dijitTabStripButtonDisabled{
    background-color: #FFCD76;
}

.claro .dijitTabListContainer-top .dijitContentPane{
    background-color: #FFCD76;
}

.claro .dijitTabController{
    background-color: #D38D14;
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    background-color: #ffc444;
    background-image: none !important;
}
.claro .dijitTabListContainer-top .tabStripButton{
    background-image: none !important;
}
.claro .dijitTabStripMenuIcon {
    background-position: -150px 50%;
}
.claro .dijitTabStripSlideRightIcon{
    background-position: -124px 50%;
}
.claro .dijitTabContainerTop-dijitContentPane, .claro .dijitTabContainerLeft-dijitContentPane, .claro .dijitTabContainerBottom-dijitContentPane, .claro .dijitTabContainerRight-dijitContentPane, .claro .dijitAccordionContainer-dijitContentPane{
    background-color: #fff9f0;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled, .claro .dijitTabListContainer-bottom .tabStripButtonDisabled{
    background-color: #FFCD76;
}


.dojoxFloatingPaneTitle{
  background:url(../../assets/orange/toolbar_bg.png) repeat-x #545454;
}

.esriPopup .titlePane{
  background-color:#ba7000;
  border-style:none;
}
.esriPopup .titleButton,
.esriPopup .pointer,
.esriPopup .outerPointer,
.esriPopup .esriViewPopup .gallery .mediaHandle,
.esriPopup .esriViewPopup .gallery .mediaIcon{
  background: url(../../assets/orange/popup.png) no-repeat scroll 0 0 transparent;
}


/*slider background*/
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton ,.esriSimpleSliderVertical .esriSimpleSliderDecrementButton  {
  background:url(../../assets/orange/toolbar_bg.png) repeat-x #545454;
  border:solid 1px #545454;
}

/*Identity Manager Dialog*/
.claro .dijitDialogTitleBar {
  background:url(../../assets/orange/toolbar_bg.png) repeat-x #545454;
  color:#fff;
  border: none !important;
}
.claro .dijitDialog {
    border: 1px solid #808080;
}

.claro .dijitDialogPaneActionBar .dijitButtonNode{
  background-image:none;
  border: 1px solid #545454;
  background:url(../../assets/orange/sidebar_header_active_bg.png) repeat-x #CEE1EC;
}
.esriBookmarkItem:hover{
  background-color:#CEE1EC;
}