
/*The image specified for the body is used to apply the gradient background to the entire page*/
body {
  background:url(../../assets/purple/body_bg.png) repeat-x #666666;
}
#leftPane {
  background-color:#f5f1f8;
}
/*override claro background and other props*/
/*Measure toggle button*/
.claro .dijitToolbar .dijitButtonNode:hover {
  background:url(../../assets/purple/sidebar_header_active_bg.png) repeat-x #c1bacb;
}
.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
   background:url(../../assets/purple/sidebar_header_active_bg.png) repeat-x #c1bacb;
}

/*Attribute Inspector button styling (delete buttons)*/
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset{
  background:url(../../assets/purple/toolbar_bg.png) repeat-x #593e7f;
  color:#fff;
  border: none;
}
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset:hover{
  background:url(../../assets/purple/sidebar_header_active_bg.png) repeat-x #c1bacb;
  color:#000;
}

/* Change color of tab menu*/
.claro .dijitTab{
    background-color: #61438C;
    background-image: none !important;
    color: #ffffff;
}
.claro .dijitTablisContainer{
    background-color: #61438C;
}

.claro .dijitTabListContainer-top .dijitTabStripButtonDisabled{
    background-color: #61438C;
}

.claro .dijitTabListContainer-bottom .dijitTabStripButtonDisabled{
    background-color: #61438C;
}

.claro .dijitTabListContainer-top .dijitContentPane{
    background-color: #f5eeff;
}

.claro .dijitTabController{
    background-color: #61438C;
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    background-color: #b09bcb;
    background-image: none !important;
}
.claro .dijitTabListContainer-top .tabStripButton{
    background-image: none !important;
}
.claro .dijitTabStripMenuIcon {
    background-position: -150px 50%;
}
.claro .dijitTabStripSlideRightIcon{
    background-position: -124px 50%;
}
.claro .dijitTabContainerTop-dijitContentPane, .claro .dijitTabContainerLeft-dijitContentPane, .claro .dijitTabContainerBottom-dijitContentPane, .claro .dijitTabContainerRight-dijitContentPane, .claro .dijitAccordionContainer-dijitContentPane{
    background-color: #f2ebfc;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled, .claro .dijitTabListContainer-bottom .tabStripButtonDisabled{
    background-color: #c1bacb;
}


.dojoxFloatingPaneTitle{
  background:url(../../assets/purple/toolbar_bg.png) repeat-x #593e7f;
}

.esriPopup .titlePane{
  background-color:#4e2071;
  border-style:none;
}
.esriPopup .titleButton,
.esriPopup .pointer,
.esriPopup .outerPointer,
.esriPopup .esriViewPopup .gallery .mediaHandle,
.esriPopup .esriViewPopup .gallery .mediaIcon{
  background: url(../../assets/purple/popup.png) no-repeat scroll 0 0 transparent;
}


/*slider background*/
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton ,.esriSimpleSliderVertical .esriSimpleSliderDecrementButton  {
  background:url(../../assets/purple/toolbar_bg.png) repeat-x #593e7f;
  border:solid 1px #593e7f;
}
 /*Identity Manager Dialog*/
.claro .dijitDialogTitleBar {
  background:url(../../assets/purple/toolbar_bg.png) repeat-x #545454;
  color:#fff;
  border: solid 1px #593e7f;
}
.claro .dijitDialog {
    border: 1px solid #808080;
}

.claro .dijitDialogPaneActionBar .dijitButtonNode{
  background-image:none;
  border: solid 1px #593e7f;
  background:url(../../assets/purple/sidebar_header_active_bg.png) repeat-x #CEE1EC;
}
.esriBookmarkItem:hover{
  background-color:#c1bacb;
}