/*The image specified for the body is used to apply the gradient background to the entire page*/
body {
  background:url(../../assets/purple/body_bg.png) repeat-x #666666;
}
#leftPane {
  background-color:#f5f1f8;
}
/*override claro background and other props*/
/*Measure toggle button*/
.claro .dijitToolbar .dijitButtonNode:hover {
  background:url(../../assets/purple/sidebar_header_active_bg.png) repeat-x #c1bacb;
}

.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
   background:url(../../assets/purple/sidebar_header_active_bg.png) repeat-x #c1bacb;
}

/*Attribute Inspector button styling (delete buttons)*/
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset{
  background:url(../../assets/purple/toolbar_bg.png) repeat-x #593e7f;
  color:#fff;
  border: none;
}
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset:hover{
  background:url(../../assets/purple/sidebar_header_active_bg.png) repeat-x #c1bacb;
  color:#000;
}

/* Background color for regular buttons*/
#tools .dijitIcon
{
    box-shadow: 3px 3px 2px darkgray, #4A3B5F -2px -2px 3px inset;
    background-color: #593E7F;
    border: 1px solid #2E1453;
    border-radius: 5px 5px 5px 5px;
}
/* Background color for dropdown left side button*/
#tools .dijitComboButton .dijitIcon, #tools .dijitDownArrowButton .dijitIcon{
    box-shadow: 0px 3px 2px darkgray, #4A3B5F 0px -2px 3px inset;
    background-color: #593E7F;
    border: 1px solid #2E1453;
    border-radius: 5px 0px 0px 5px;
}
/* Background color for dropdown right side button*/
#tools .dijitArrowButtonInner
{
    height: 48px;
    background-color: #593E7F;
    border: 1px solid #2E1453;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray,  #282828 -2px 0px 3px inset;
}

/* Buttons on hover*/
#tools .dijitToggleButtonHover .dijitIcon
{
    box-shadow: #4A3B5F 2px 2px 3px inset;     
} 
/* Buttons on checked*/
#tools .dijitToggleButtonChecked .dijitIcon
{
    background-color: #9476BF;
    box-shadow: #4A3B5F 2px 2px 3px inset; 
} 
.PaneToggleImage{
    background-image: none;
    background-color: #593E7F;
    border: 1px solid #2E1453;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray;
}
/* Change color of tab menu*/
.claro .dijitTab{
    background-color: #61438C;
    background-image: none !important;
    color: #ffffff;
}
.claro .dijitTablisContainer{
    background-color: #61438C;
}

.claro .dijitTabListContainer-top .dijitTabStripButtonDisabled{
    background-color: #61438C;
}

.claro .dijitTabListContainer-bottom .dijitTabStripButtonDisabled{
    background-color: #61438C;
}

.claro .dijitTabListContainer-top .dijitContentPane{
    background-color: #f5eeff;
}

.claro .dijitTabController{
    background-color: #61438C;
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    background-color: #b09bcb;
    background-image: none !important;
}
.claro .dijitTabListContainer-top .tabStripButton{
    background-image: none !important;
}
.claro .dijitTabStripMenuIcon {
    background-position: -150px 50%;
}
.claro .dijitTabStripSlideRightIcon{
    background-position: -124px 50%;
}
.claro .dijitTabContainerTop-dijitContentPane, .claro .dijitTabContainerLeft-dijitContentPane, .claro .dijitTabContainerBottom-dijitContentPane, .claro .dijitTabContainerRight-dijitContentPane, .claro .dijitAccordionContainer-dijitContentPane {
    background-color: #f2ebfc;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled, .claro .dijitTabListContainer-bottom .tabStripButtonDisabled{
    background-color: #c1bacb;
}


.dojoxFloatingPaneTitle{
  background:url(../../assets/purple/toolbar_bg.png) repeat-x #593e7f;
}

.esriPopup .titlePane{
  background-color:#4e2071;
  border-style:none;
}
.esriPopup .titleButton,
.esriPopup .pointer,
.esriPopup .outerPointer,
.esriPopup .esriViewPopup .gallery .mediaHandle,
.esriPopup .esriViewPopup .gallery .mediaIcon{
  background: url(../../assets/purple/popup.png) no-repeat scroll 0 0 transparent;
}


/*slider background*/
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton ,.esriSimpleSliderVertical .esriSimpleSliderDecrementButton  {
  background:url(../../assets/purple/toolbar_bg.png) repeat-x #593e7f;
  border:solid 1px #593e7f;
}

/* overrides the ESRI home button style.  It is similar to "#tools .dijitIcon" style here   */
.HomeButton .home 
{
    background-color: #593E7F;
    border: 1px solid #2E1453;
    border-radius: 5px 5px 5px 5px;
}


 /*Identity Manager Dialog*/
.claro .dijitDialogTitleBar {
  background:url(../../assets/purple/toolbar_bg.png) repeat-x #545454;
  color:#fff;
  border: solid 1px #593e7f;
}
.claro .dijitDialog {
    border: 1px solid #808080;
}

.claro .dijitDialogPaneActionBar .dijitButtonNode{
  background-image:none;
  border: solid 1px #593e7f;
  background:url(../../assets/purple/sidebar_header_active_bg.png) repeat-x #CEE1EC;
}
.esriBookmarkItem:hover{
  background-color:#c1bacb;
}

#footer a{
    color:#C0C0C0;
}

/*Use a white arrow for the dropdown*/
.claro .dijitArrowButtonInner {
    background-image: url("../../assets/toolbar/ArrowButton.png");
    height:48px;
    background-color: #593E7F;
     border: 1px solid #2E1453;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray,  #282828 -2px 0px 3px inset;
 
}
.claro .dijitDisabled .dijitArrowButtonInner {
    background-image: url("../../assets/toolbar/ArrowButton.png");
    background-image:none;
    height:48px;
    background-color: #593E7F;
    border: 1px solid #2E1453;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 1px darkgray,  #282828 -2px 0px 3px inset;

}

/*Used in Measure Tool text results ".dijitContentPane result"  */
.claro #dijit_layout_ContentPane_2 {
	background-color:#E6E6E6;
	border: solid;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding-left: 0px;
	
}

.dijitButtonHover .esriLinkIcon, .dijitToggleButtonChecked .esriLocationIcon, .dijitToggleButtonHover .esriLocationIcon, .dijitHover .dijitArrowButtonInner, .esriPrint .dijitHover .dijitIcon, .dijitToggleButtonChecked .esriMeasureIcon, .dijitToggleButtonHover .esriMeasureIcon , .dijitHover .esriBasemapIcon
{
    box-shadow: #FFFFFF 2px 2px 3px inset;  
}

/*updating the measurement widget */
.esriMeasurement .dijitArrowButtonInner 
{
    height: 20px;   
}

.esriMeasurement .esriToggleButton .dijitButtonText
{
    display:inline-block !important;
    font-size: 14px !important; 
    color: #fff;
    background-color: #593E7F;
    border: 1px solid #2E1453;
    border-left: none;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 3px 3px 1px darkgray,  #282828 -2px 0px 3px inset;
}
