#queryBtn, .resetBtns
{
    height: 18px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    padding: 5px;
    display: inline;
    margin: 10px;
    cursor: pointer;
}

#queryBtn.btnSelected
{
    background-color: #878787;
}

#queryingDiv select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 24px;
    border-radius: 5px;
    border: 1px solid;
    margin: 5px;
    max-width: 95%;
    width: 95%;
    background: white url("../../../../../assets/arrow.png") no-repeat 98% center;
}

select::-ms-expand 	
{
    display: none; 
}

#btnDiv
{
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

#querySection
{
    margin-top:20px;
	width: 99%;
    margin: 0 auto;
    font-size: .9em;
}

/* Spatial select buttons to mimic toggle buttons*/
.drawBtn
{
    float: left;
    padding: 5px;
    background-color: #fff;
    margin: 0px;
    border: solid thin #000;
    cursor: pointer;
}
.disabled .drawBtn
{
    background-color:#ececec;
    color: #dcdcdc;
    cursore: pointer;
    border: solid thin #dcdcdc;
}
.btnStart
{
    border-radius: 5px 0px 0px 5px;
    margin-left: 30px;
}
.btnEnd
{
    border-radius: 0px 5px 5px 0px;    
}
#spatialQueryDiv
{
    margin-top: 20px;
    margin-bottom: 30px;
}

#spatialBtnDiv
{
    width: 50%;
    margin: 0 auto;
	padding-top: 25px;
}

#floatingPane {
	padding-left: 0px;
	padding-top: 0px;
}

#subContainer
{
	/* overflow: auto;
	 background-color: red;   
	 color: grey;  */
	margin: 5px 5px 50px 5px;
}

#infoContainer
{	
	/* for testing */
	/* background-color: yellow;  
	 color: black; 
	 width: 100%;
	 overflow: auto; 
	  height:500px;  */	
}

#attributeGridDiv
{
	/* background-color: yellow;
	color: black;
	height:500px; 	

	font-size:90%;*/
	overflow: auto; 
	width: 100%;
	
}
#attributeGrid
{
    height: 100%;
}

#queryChoice input
{
    margin-left: 25%;
}

#fieldValue
{
    margin: 0 auto;
    width: 95%;
}