.esriMeasurement
{
    padding: 10px;
    width: inherit;
}

#floaterMeas{
    padding: 0px !important;
    background-color:#fff;
	border: solid thin #808080;
    -webkit-box-shadow: 3px 3px 2px #808080;
	-moz-box-shadow: 3px 3px 2px #808080;
	box-shadow: 3px 3px 2px #808080;
}

/* Used in Measure Tool text results ".dijitContentPane results"  */
.resultTable, .esriMeasurementResultValue  {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  padding: 5px;
  border-radius: 5px;
}
.esriMeasurement .esriMeasurementTableContainer 
{
    padding: 5px;
}

/* table.esriMeasurementResultTable */
.dijitContentPane resultTable esriMeasurementTableContainer
{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
     text-align: center;
}



/* for a better looking results box  */
/*
.claro #dijit_layout_ContentPane{
background-color:#E6E6E6;
border: solid;
margin-left:auto;
margin-right:auto;
text-align: center;
padding-left: 0px;

}
*/
/*updating the measurement widget */
.esriMeasurement .dijitArrowButtonInner 
{
    height: 24px;   
}
.esriMeasurement .dijitArrowButtonChar
{
    display: inline !important;
    margin-left: -20px;
}
.esriMeasurement .esriToggleButton .dijitButtonText
{
  display: inline-block !important;
  font-size: 14px !important;
  border: 1px solid #181818;
  height: 24px;
  border-radius: 5px 0px 0px 5px;
  line-height: 22px;
  border-right: none;
  width: 95px;
  text-align: left;
}
