#floaterMeas{
    padding: 0px !important;
	background-color:#fff;
	border: solid thin darkgray;
    -webkit-box-shadow: 3px 3px 2px darkgray;
	-moz-box-shadow: 3px 3px 2px darkgray;
	box-shadow: 3px 3px 2px darkgray;
}

/* for a better looking results box  */
.claro #dijit_layout_ContentPane_1 {
background-color:#E6E6E6;
border: solid;
margin-left:auto;
margin-right:auto;
text-align: center;
padding-left: 0px;

}